SECRET=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

REDDIT_CLIENT_ID=
REDDIT_REDIRECT_URI=
REDDIT_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_REDIRECT_URI=
FACEBOOK_CLIENT_SECRET=

SPOTIFY_CLIENT_ID=
SPOTIFY_REDIRECT_URI=
SPOTIFY_CLIENT_SECRET=
